/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body{
  background-color: azure;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-player{
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  padding: 50px;
  border-radius: 16px;
}

.c-player > h4{
  text-transform: uppercase;
  color: wheat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.c-player > p{
  color: azure;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.c-player--details .details-img{
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.c-player--details .details-img img{
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 240px;
  border-radius: 50%;
}

.c-player--details .details-title{
  color: azure;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.c-player--details .details-artist{
  color: azure;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.c-player--controls .play-btn{
  display: flex;
  margin:  0 auto;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: yellow;
  color: azure;
  cursor: pointer;
}

.c-player--controls .skip-btn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: azure;
  font-style: 10px;
} */